input{
    height: 40px;
    width: 300px;
    border-radius: 30px;
    border: none;
    text-align: center;
    background-color: rgb(250, 249, 249);
    box-shadow: 4px 4px 12px black;
    margin-bottom: 10px;
    display: block;
}
form{
    padding: 50px;
    height: 400px;
    text-align: center;
    place-self: center;
    background-color: white;
    color: black;
    box-shadow: 4px 4px 12px black;
    border: none;
    border-radius: 14px;
}
h1{
    text-align: center;
}
button{
    width: 45%;
    height: 40px;
    border-radius: 30px;
    border: none;
}
.for{
    background-color: rgb(5, 60, 239);
    cursor: pointer;
    margin-top: 20px;
    color: white;
}
    
body{
    background-image: url(books-2596809.jpg);
    background-repeat: no-repeat;
    background-repeat: cover;
    place-content: center;
}
.for:hover{
    background-color: black;
    color: white;

}
@media ( max-width: 500px){
    form{
        margin-top: 50% ;
    }
}
